@page
@model MangaBooks.Pages.Manga.ListModel
@{
}

<h1>Manga List</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
              <button class="btn btn-default">
                <i class="fas fa-search"></i>
                  </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var manga in Model.Mangas)
    {
        <tr>
            <td>@manga.Title</td>
            <td>@manga.Chapters</td>
            <td>@manga.Genre</td>
            <td>
                <a class="btn btn-lg" asp-page="./Detail" asp-route-mangaId="@manga.Id">
                    <i class="fas fa-search-plus"></i>
                </a>

            </td>
        </tr>
    }
</table>
